#map_area {
    font-size: 0;
}

div.map_row {
    background:     #222244;
}

div.map_row_odd {
    margin-left:    40px;
    margin-top:     -20px;
    margin-bottom:  -20px;
}

div.map_cell {
    background:      #222244;
    padding:         40px 40px;
    border:          none;
    display:         inline-block;
}

h1 {
    color:    red;
}

polygon {
    fill:            lime;
    stroke:          black;
    stroke-width:    2;
    fill-rule:       evenodd;
}