
#map_area {
    font-size:         0;
    background-image:  url("./assets/twinkling stars.gif");
    background-repeat: repeat;
    white-space:       nowrap;
    display:           table;
    margin:            auto;
    padding:           20px 0px 20px 0px;
}

div.map_row {
}

div.map_row_odd {
    margin-left:    40px;
    margin-top:     -20px;
    margin-bottom:  -20px;
}

div.map_cell {
    padding:           40px 40px;
    border:            none;
    display:           inline-block;
    background-repeat: no-repeat;
}

h1 {
    text-align:    center;
}

img {
    width: 80px;
    height: 80px;
}